PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1906
DB_NAME=rps_platform
DB_SYNCHRONIZE=true
DB_LOGGING=false
CORS_ORIGIN=http://localhost:3001,http://127.0.0.1:3001
JWT_SECRET='PslJ<K_>:d&@cx9{ddRJtN-g?ViMl}h5ZDFDNFA@U&6'
SWAGGER_ENABLED=true
SWAGGER_PATH=api-docs
